@model WhatsHappening.Web.Models.CommonModels.PaginationModel

@if (Model.TotalPages > 1)
{
    <div class="row text-center">
        <ul class="pagination">
            @if (Model.CurrentPage == 1)
            {
                <li class="disabled"><a href='javascript:void(0)'>&laquo;</a></li>
            }
            else
            {
                Model.QueryParams["page"] = Model.CurrentPage > 1 ? Model.CurrentPage - 1 : 1;
                <li><a href='@Url.Action(Model.Action, Model.Controller, Model.QueryParams)'>&laquo;</a></li>
            }
            @for (int i = Model.StartPage; i <= Model.EndPage; i++)
            {
                Model.QueryParams["page"] = i;
                <li class='@(Model.CurrentPage == i ? "active" : "")'><a href='@Url.Action(Model.Action, Model.Controller, Model.QueryParams)'>@i @(Model.CurrentPage == i ? Html.Raw("<span class='sr-only'>(current)</span>") : Html.Raw(""))</a></li>
            }
            @*@for (int i = 1; i <= Model.TotalPages; i++)
                {
                    Model.QueryParams["page"] = i;
                    <li class='@(Model.CurrentPage == i ? "active" : "")'><a href='@Url.Action(Model.Action, Model.Controller, Model.QueryParams)'>@i @(Model.CurrentPage == i ? Html.Raw("<span class='sr-only'>(current)</span>") : Html.Raw(""))</a></li>
                }*@
            @if (Model.CurrentPage == Model.TotalPages)
            {
                <li class="disabled"><a href='javascript:void(0)'>&raquo;</a></li>
            }
            else
            {
                Model.QueryParams["page"] = Model.CurrentPage < Model.TotalPages ? Model.CurrentPage + 1 : Model.TotalPages;
                <li><a href='@Url.Action(Model.Action, Model.Controller, Model.QueryParams)'>&raquo;</a></li>
            }
        </ul>
    </div>
}